In [1]:
import numpy as np
import pandas as pd

In [2]:
data = [[21, 'Manoj', 26], [22, 'Akshay', 30], [23, 'Gaurav', 41]]

In [3]:
columns = ['ID', 'Name', 'rollno']

In [4]:
df = pd.DataFrame(data, columns=columns)

In [5]:
print(df)

   ID    Name  rollno
0  21   Manoj      26
1  22  Akshay      30
2  23  Gaurav      41

In [7]:
data = {'ID': [1, 2, 3], 'Name': ['manoj', 'akshay', 'gaurav'], 'rollno': [25, 30, 35]}

In [8]:
df = pd.DataFrame(data)

In [9]:
print(df)

   ID    Name  rollno
0   1   manoj      25
1   2  akshay      30
2   3  gaurav      35

In [10]:
filter_df = df[df['rollno'] > 26]

In [12]:
print(filter_df)

   ID    Name  rollno
1   2  akshay      30
2   3  gaurav      35

In [13]:
filtered_df = df[['ID', 'Name']]

In [14]:
print(filtered_df)

   ID    Name
0   1   manoj
1   2  akshay
2   3  gaurav

In [15]:
df.replace({'manoj': 'mahesh', 35: 26}, inplace=True)

In [16]:
print(df)

   ID    Name  rollno
0   1  mahesh      25
1   2  akshay      30
2   3  gaurav      26

# Creating two DataFrames with random data

In [22]:
np.random.seed(123)

In [23]:
df1 = pd.DataFrame(np.random.randint(0, 10, size=(10, 3)), columns=['A', 'B', 'C'])

In [24]:
df2 = pd.DataFrame(np.random.randint(0, 10, size=(10, 3)), columns=['A', 'B', 'C'])

In [26]:
pd.concat([df1, df2])

   A  B  C
0  2  2  6
1  1  3  9
2  6  1  0
3  1  9  0
4  0  9  3
5  4  0  0
6  4  1  7
7  3  2  4
8  7  2  4
9  8  0  7
0  9  3  4
1  6  1  5
2  6  2  1
3  8  3  5
4  0  2  6
5  2  4  4
6  6  3  0
7  6  4  7
8  6  7  1
9  5  7  9